[Desktop Entry]
Type=Application
Name=ByteBox
Comment=Émulateur Amstrad CPC 6128
Exec=/home/nicolasb/Dev/amstrad_cpc/target/release/bytebox
Path=/home/nicolasb/Dev/amstrad_cpc
Icon=bytebox
Terminal=false
Categories=Game;Emulator;
StartupWMClass=bytebox
