[Desktop Entry]
Type=Application
Name=ByteBox
Comment=Amstrad CPC 6128 emulator
Exec=bytebox
Icon=bytebox
Terminal=false
Categories=Game;Emulator;
StartupWMClass=bytebox
